*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.calc{
    width: 600px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: black;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 80px;
    gap: 20px;
}

.calc__btn{
    border-radius: 20px;
    border: none;
    background-color: rgb(160, 211, 212);
    font-size: 25px;
    cursor: pointer;
}

.calc__result{
    grid-column: 1 / -1;
    color: white;
    font-size: 56px;
    padding: 10px;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid rgba(216, 136, 31, 0.411);
}

.btn__operator{
    background-color: rgb(255, 167, 4);
}

.btn__clear{
    background-color: rgb(255, 4, 4);
}

.btn__result{
    background-color: blueviolet;
    grid-column: 2 / -1;
}